@font-face {
  font-display: swap;
  font-family: 'Inconsolata-Black';
  src: url('../fonts/Inconsolata-Black.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inconsolata-CondensedBold';
  src: url('../fonts/Inconsolata-CondensedBold.woff2') format('woff2');
}

:root {
  --marcado: #739FAE;
  --boton-color: #020101;
  --boton-background-color: #CB7E6B;
  --boton-gradient-start: #51707b;
  --boton-gradient-end: hsla(195 27% 57% / 20%);
  --boton-box-shadow: 1.25rem 1rem 6.5rem hsl(195 27% 57% / 60%),
    -1.25rem -1.25rem 6.5rem hsl(12 48% 61% / 30%);
  --boton-width: fit-content;
  --boton-padding: .3rem 1.7rem;
  --boton-margin: auto;
  --boton-border-radius: .6em;
  --boton-overflow: hidden;
  --boton-transition: background-position .1s;
  --boton-font-size: 1.2em;
  --boton-font-weight: 900;
  --boton-cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  min-width: 0;
}

html {
  scroll-behavior: smooth;
}

@supports (accent-color: var(--marcado)) {
  :root {
    accent-color: var(--marcado);
  }
}

:root[data-theme="dark"] {
  --show-sun: none;
  --show-moon: block;
  --bg-color: hsl(12, 100%, 1%);
  --text-color: hsl(12, 0%, 100%);
  --animation-moon: show 4s alternate infinite both;
  --transform-option: translate(100%);
  --color-switcher: hsl(12, 47%, 37%);
  --color-active: hsl(195, 27%, 57%);
  --borde: hsl(12, 48%, 61%);
  --sombra-ppal: hsl(195 27% 17% / 70%);
  --sombra-sec: hsl(195 47% 17% / 50%);
}

:root[data-theme="light"] {
  --show-sun: block;
  --show-moon: none;
  --bg-color: hsl(195, 27%, 57%);
  --text-color: hsl(12, 0%, 0%);
  --animation-sun: rotate 15s linear infinite;
  --color-switcher: hsla(195, 0%, 100%);
  --color-active: hsl(12, 48%, 61%);
  --borde: hsl(195 47% 7%);
  --sombra-ppal: hsla(195, 0%, 92%, .7);
  --sombra-sec: hsla(195, 55%, 72%, 0.7);
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inconsolata-Black';
  font-size: clamp (1rem, 2.5vw, 2rem);
  font-weight: 400;
  line-height: 1em;
  width: 100vw;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .5s background-color, color .5s;
  position: relative;
  scrollbar-color: rgba(203, 127, 108, 0.471) hsla(12, 48%, 61%);
  overflow-x: hidden;
}

body::after {
  content: url('https://cdn.pixabay.com/photo/2022/05/04/14/19/network-7174082_1280.png');
  position: fixed;
  bottom: 14rem;
  width: 100%;
  height: 100%;
  /* Evita que el pseudo-elemento interfiera con eventos del ratón */
  pointer-events: none;
  z-index: -2;
  opacity: 0.2;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inconsolata-CondensedBol';
  text-wrap: balance;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-weight: 400;
}

p {
  text-wrap: pretty;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: 1rem;
}

::selection {
  background-color: var(--bg-header);
  color: var(--text-color);
}

input,
textarea,
select {
  font-family: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: block;
}

/*Buscar efectos de sombras en neumorphism.io*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
  padding-top: 1em;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: fit-content;
  padding-left: .5em;
  transition: 0.5s;
}

.main {
  display: grid;
  align-content: center;
  background-color: var(--bg-color);
  padding: .2em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#sun {
  animation: var(--animation-sun, none);
  transform-box: fill-box;
  transform-origin: center;
  max-width: 2rem;
}

.main__light,
.main__dark {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.main__light {
  display: var(--show-sun);
}

.main__dark {
  display: var(--show-moon);
}

#moon {
  animation: blink-animation 3s infinite;
  max-width: 2rem;
}

@keyframes blink-animation {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.7);
    -webkit-filter: brightness(1.7);
  }

  100% {
    filter: brightness(1);
  }
}

.main__switcher {
  width: fit-content;
  margin: 0 auto;
  height: auto;
  padding: .2rem .4rem;
  border-radius: 9em;
  background-color: var(--color-switcher);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  -webkit-border-radius: 9em;
  -moz-border-radius: 9em;
  -ms-border-radius: 9em;
  -o-border-radius: 9em;
}

.main__check {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.main__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  overflow: hidden;
}

.main__option {
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  border: var(--border-option);
  transition: transform .3s;
  transform: var(--transform-option, none);
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#menu-button-check {
  display: none;
}

label[for=menu-button-check]:nth-of-type(1) {
  display: none;
}

@media (max-width: 768px) {
  label[for=menu-button-check]:nth-of-type(1) {
    position: absolute;
    right: 0.5em;
    z-index: 4;
    font-size: 2.7em;
    font-family: inherit;
    font-weight: 700;
    display: inline-block;
  }

  label[for=menu-button-check]:nth-of-type(1):hover {
    cursor: pointer;
  }

  #menu-button-check:checked~.menu {
    animation: show-menu linear 0.3s;
    right: 0.5em;
    -webkit-animation: show-menu linear 0.3s;
  }

  #menu-button-check:checked~label[for=menu-button-check]:nth-of-type(1) {
    color: white;
  }

  .menu {
    display: flex;
    animation: hide-menu linear 0.3s;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    -webkit-animation: hide-menu linear 0.3s;
  }

  @keyframes show-menu {
    from {
      right: -100%;
      opacity: 0;
    }

    to {
      right: 0;
      opacity: 1;
    }
  }

  @keyframes hide-menu {
    from {
      right: 0;
      opacity: 1;
    }

    to {
      right: -100%;
      opacity: 0;
    }
  }
}

.menu-lateral {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  right: .5em;
  top: 4em;
  list-style: none;
  z-index: 4;
  gap: 1em;
  transition: all .2s ease-in-out;
  border-radius: 1em;
  padding: .3rem;
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  font-family: inherit;
}

.checkbox__hack:checked~.menu-lateral {
  display: flex;
}

.nav__link {
  color: var(--text-color);
  background-color: var(--color-switcher);
  text-decoration: none;
  padding: .4em;
  border-radius: 1em;
  display: flex;
  height: fit-content;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.nav__link:hover {
  background-color: var(--bg-color);
}

@media (min-width: 768px) {
  .menu {
    display: inline-block;
    width: 00%;
  }

  .menu-lateral {
    flex-direction: row;
    justify-content: flex-end;
    width: fit-content;
    height: 100%;
    gap: 1.5em;
    top: .3em;
    right: .5em;
  }

  .menu-lateral__item {
    display: inline-block;
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  animation: up .8s ease-in;
}

@keyframes up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.carrousel {
  position: relative;
  max-width: 100%;
  top: 1em;
  height: fit-content;
  padding: 1em;
  color: var(--text-color);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: rgba(179, 214, 249, 0.169);
  box-shadow: .5em .5em .6em var(--sombra-ppal), -.5em -.5em .6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 1rem;
}

.carrousel__container {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--bg-color);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 1em;
  transition: all 0.5s ease ease-in-out;
  animation: desplazamiento 6s infinite;
  -webkit-animation: desplazamiento 6s infinite;
  -webkit-transition: all 0.5s ease ease-in-out;
  -moz-transition: all 0.5s ease ease-in-out;
  -ms-transition: all 0.5s ease ease-in-out;
  -o-transition: all 0.5s ease ease-in-out;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
    /* Desplazamiento del 50% para mostrar la segunda imagen */
  }
}

.img {
  width: calc(100% / 2 - 2em);
  min-height: 10vh;
  color: var(--text-color);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--bg-color);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  flex: 0 0 50%;
  aspect-ratio: 16/9;
}

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: all 0.4s ease;
  border-radius: 1em;
  padding: 1em;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

.servicios__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--bg-color);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2rem;
  gap: 1rem;
  width: 100%;
  height: fit-content;
}

.servicios__title {
  background-color: var(--color-switcher);
  padding: .6rem;
  text-align: center;
  font-family: inherit;
  border-radius: 1em;
  line-height: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.servicios__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .9em;
  text-wrap: pretty;
  width: 100%;
  line-height: 1.3em;
  margin: 0 auto;
}

.servicios__li a {
  color: var(--text-color);
}

.deco__li {
  text-decoration: underline;
}

.reducida {
  display: inline-block;
  position: relative;
  justify-self: center;
}

.tooltip-text {
  display: none;
  position: absolute;
  background-color: var(--marcado);
  color: var(--boton-color);
  font-weight: var(--boton-font-weight);
  padding: .3rem;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  top: 9rem;
}

.reducida:hover {
  .tooltip-text {
    display: block;
  }
}

.exclusive {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

details {
  display: flex;
  line-height: 1em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

details[open] {
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

details[close] {
  box-shadow: 1.2em 0.6em 0.6em var(--sombra-ppal), -1.2em -0.6em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.servicios__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  transition: all 0.4s ease;
  border-radius: 1em;
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.servicios__img {
  width: 100%;
  display: flex;
  justify-self: center;
  border-radius: var(--boton-border-radius);
  -webkit-border-radius: var(--boton-border-radius);
  -moz-border-radius: var(--boton-border-radius);
  -ms-border-radius: var(--boton-border-radius);
  -o-border-radius: var(--boton-border-radius);
  aspect-ratio: 4/3;
}

[data-animation="appear"] {
  opacity: 0;
  transform: translateY(100deg);
  transition: .3s ease-in .3s;
  --opacity: 1;
  --transform: translateY(0);
  -webkit-transform: translateY(100deg);
  -moz-transform: translateY(100deg);
  -ms-transform: translateY(100deg);
  -o-transform: translateY(100deg);
  -webkit-transition: .3s ease-in .3s;
  -moz-transition: .3s ease-in .3s;
  -ms-transition: .3s ease-in .3s;
  -o-transition: .3s ease-in .3s;
}

[data-animation="show"] {
  opacity: 0;
  transform: scale(0);
  transition: .3s ease-in .3s;
  --opacity: 1;
  --transform: scale(1);
  -webkit-transition: .3s ease-in .3s;
  -moz-transition: .3s ease-in .3s;
  -ms-transition: .3s ease-in .3s;
  -o-transition: .3s ease-in .3s;
}

[data-animation="up"] {
  opacity: 0;
  transform: translateY(100%);
  transition: .3s ease-in .3s;
  --opacity: 1;
  --transform: translateY(0);
  -webkit-transition: .3s ease-in .3s;
  -moz-transition: .3s ease-in .3s;
  -ms-transition: .3s ease-in .3s;
  -o-transition: .3s ease-in .3s;
}

.unset {
  opacity: var(--opacity);
  transform: var(--transform);
}

@media (min-width: 780px) {
  .servicios {
    flex-direction: row;
    gap: 3rem;
  }

  .servicios--reverse {
    flex-direction: row-reverse;
  }
}

.self {
  transition: all 0.4s ease;
  border-radius: 1em;
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;

}

.self__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 60%;
  max-width: 90%;
  margin: 3em auto;
}

.self__grid:hover .self__text {
  clip-path: circle(150% at top left);
}

.self__grid img {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  aspect-ratio: 16/9;
}

.self__grid p {
  margin-top: 1em;
}

.self__text {
  grid-column: 1/2;
  grid-row: 1/2;
  line-height: 1.3em;
  padding: 0 2.7em;
  background-color: var(--sombra-ppal);
  display: grid;
  place-items: center;
  clip-path: circle(0 at top left);
  transition: clip-path .6s;
  -webkit-transition: clip-path .6s;
  -moz-transition: clip-path .6s;
  -ms-transition: clip-path .6s;
  -o-transition: clip-path .6s;
}

@media (min-width: 577px) {
  .self__text {
    font-size: 1.9em;
  }
}

.planes {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  justify-items: center;
  gap: 1em;
  font-family: 'Inconsolata-CondensedBold';
  font-size: inherit;
  color: #000;
  transition: all 0.4s ease;
  background-image: url(../assets/isla0.webp);
  background-position: bottom;
  background-size: cover;
  width: 90%;
  height: auto;
  padding-bottom: 1em;
  margin: 0 auto;
  border-radius: var(--boton-border-radius);
  -webkit-border-radius: var(--boton-border-radius);
  -moz-border-radius: var(--boton-border-radius);
  -ms-border-radius: var(--boton-border-radius);
  -o-border-radius: var(--boton-border-radius);
}

.planes__titulo {
  padding: .7rem;
  line-height: 1.1;
  font-family: inherit;
}

.planes__seleccion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: .3em;
  margin: 0 auto;
}

.planes__boton {
  display: block;
  border-radius: var(--boton-border-radius);
  border: 6px dashed var(--borde);
  background-color: var(--boton-background-color);
  box-shadow: var(--boton-box-shadow);
  width: var(--boton-width);
  padding: var(--boton-padding);
  overflow: var(--boton-overflow);
  color: #060000;
  font-family: inherit;
  font-size: var(--boton-font-size);
  font-weight: var(--boton-font-weight);
  transition: var(--boton-transition);
  cursor: var(--boton-cursor);
}

.planes__boton:hover {
  background: linear-gradient(to right, var(--boton-gradient-start) 0%, var(--boton-gradient-end) 100%);
  background-size: 200% 100%;
  background-position: -100% 0;
  color: var(--boton-color);
}

.planes__boton:hover::after {
  background-position: 100% 0;
}

.planes__contenedor {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  width: 100%;
  gap: .6em;
  display: none;
}

.plan {
  display: grid;
  grid-template-columns: auto;
  place-self: center;
  justify-items: center;
  padding: 1rem;
  transition: all 0.4s ease;
}

.plan__titulo {
  margin-bottom: 1em;
  font-family: inherit;
}

.plan__lista {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1em;
  margin-bottom: 1rem;
  background-color: var(--boton-background-color);
  border-radius: var(--boton-border-radius);
  -webkit-border-radius: var(--boton-border-radius);
  -moz-border-radius: var(--boton-border-radius);
  -ms-border-radius: var(--boton-border-radius);
  -o-border-radius: var(--boton-border-radius);
}

.plan__item {
  margin-bottom: .5rem;
}

.plan__desplegable {
  display: none;
  line-height: 1em;
  padding: .7rem;
}

@media (min-width: 780px) {
  .planes__contenedor {
    grid-template-columns: repeat(auto-fill, minmax(1fr, 18.75rem));
    gap: 1em;
    justify-items: center;
    align-items: center;
  }

  .planes__titulo {
    font-size: 1.5em;
  }

  .plan__titulo {
    font-size: 1.3em;
  }
}

.creditos {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  width: 100%;
  color: var(--text-color);
  transition: all 0.4s ease;
  background-color: transparent;
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  margin: 0 auto;
  padding: 1rem;
}

.creditos__contenido {
  order: 1;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: .3em;
  justify-items: center;
  height: fit-content;
  margin: 0 auto;
}

.fecha {
  display: flex;
  flex-direction: column;
  justify-self: start;
  color: var(--text-color);
  text-wrap: balance;
  line-height: 1em;
  padding: 0 .3em;
  border-radius: var(--boton-border-radius);
  -webkit-border-radius: var(--boton-border-radius);
  -moz-border-radius: var(--boton-border-radius);
  -ms-border-radius: var(--boton-border-radius);
  -o-border-radius: var(--boton-border-radius);
}

.fecha input[type="datetime-local"] {
  color: #060000;
  background-color: var(--boton-background-color);
  padding: .3em;
  margin-bottom: 16px;
  border-radius: var(--boton-border-radius);
  -webkit-border-radius: var(--boton-border-radius);
  -moz-border-radius: var(--boton-border-radius);
  -ms-border-radius: var(--boton-border-radius);
  -o-border-radius: var(--boton-border-radius);
}

/*Según el navegador puede funcionar o no*/
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-color: var(--boton-gradient-start);
}

.creditos__about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  text-wrap: pretty;
  line-height: 1.9rem;
  font-family: 'Inconsolata-Black';
  font-size: 1.2em;
  padding: 1em;
  border: 3px dashed var(--borde);
  transform: translateY(-5em);
  -webkit-transform: translateY(-3em);
  -moz-transform: translateY(-5em);
  -ms-transform: translateY(-5em);
  -o-transform: translateY(-5em);
  background-color: var(--sombra-ppal);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  border-radius: var(--boton-border-radius);
  -webkit-border-radius: var(--boton-border-radius);
  -moz-border-radius: var(--boton-border-radius);
  -ms-border-radius: var(--boton-border-radius);
  -o-border-radius: var(--boton-border-radius);
}

.creditos__about a {
  color: hsl(12, 47%, 37%);
  font-size: 1.26;
}

.creditos__video {
  order: 2;
  display: flex;
  max-width: 90%;
}

.video {
  display: flex;
  width: 100%;
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  border-radius: var(--boton-border-radius);
  -webkit-border-radius: var(--boton-border-radius);
  -moz-border-radius: var(--boton-border-radius);
  -ms-border-radius: var(--boton-border-radius);
  -o-border-radius: var(--boton-border-radius);
  aspect-ratio: 16/9;
}

.pie {
  display: flex;
  max-width: 100vw;
  background-color: var(--sombra-sec);
}

.pie__contain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: 0 2.7em 0 1em;
}

.pie__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: auto;
}

.pie__logo img {
  display: flex;
  max-width: 3rem;
  aspect-ratio: 1/1;
}

.pie__text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://media1.giphy.com/media/3oEdv5ShMCqf2s2NgI/giphy.gif?cid=ecf05e47i0x9fvwkubwn3cvw7c6svmui6bkphxadylblprie&ep=v1_gifs_related&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: bottom;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  width: fit-content;
  height: auto;
  line-height: 1.6em;
  font-size: 1rem;
}

.pie__text h2 {
  display: flex;
  align-self: center;
  justify-self: center;
  font-weight: 900;
  font-family: 'Inconsolata-Black';
  width: 12ch;
  /*Ancho según número de caracteres*/
}

.pie__redes {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
}

.pie__redes img {
  width: 100%;
  max-width: 2rem;
  height: auto;
  border-radius: var(--boton-border-radius);
  -webkit-border-radius: var(--boton-border-radius);
  -moz-border-radius: var(--boton-border-radius);
  -ms-border-radius: var(--boton-border-radius);
  -o-border-radius: var(--boton-border-radius);
}

@media screen and (min-width:780px) {
  .pie__text {
    line-height: 3em;
    font-size: 2rem;
  }
}